#header-container > button {
  width: 50px;
  height: 50px;
  border: none;
  padding: var(--rtc-padding-xs);
  border-radius: 50%;
  background-color: white;
}
#header-container > button img {
  opacity: 0.5;
  width: 30px;
  height: 30px;
}

#header-container > button:first-of-type > img {
  width: 56px;
}

#header-container > button:focus {
  outline: 4px solid skyblue;
  background-color: var(--rtc-color-2);
}

#header-container > button:hover {
  background-color: var(--rtc-color-2);
}

#header-container > a {
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

#header-container > a:hover {
  background-color: var(--rtc-color-1);
  outline: none;
}

#header-container > a > span {
  font-weight: 600;
  font-size: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--rtc-color-1);
  width: 20px;
  height: 20px;
}

#header-container > button:last-of-type {
  width: 30px;
  height: 30px;
}
#header-container > button:last-of-type img {
  opacity: 0.5;
  width: 14px;
  height: 14px;
}

#header-container > button:last-of-type:hover {
  background-color: var(--rtc-color-1);
}

#btn-arrow {
  justify-content: center;
}

@media screen and (max-width: 750px) {
  #header-container > a {
    width: 35px;
    height: 35px;
  }
  #header-container > a > span {
    width: 30px;
    height: 30px;
  }
}
@media screen and (max-width: 420px) {
  #header-container > button {
    width: 25px;
    height: 25px;
    justify-content: center;
  }
  #header-container > button img {
    width: 19px;
    height: 19px;
  }
  header-container > button:last-of-type {
    width: 20px;
    height: 20px;
  }
  #header-container > button:last-of-type img {
    width: 12px;
    height: 12px;
  }
  #header-container > button:first-of-type {
    display: none;
  }
}
@media screen and (max-width: 347px) {
  #header-container > button:nth-of-type(2) {
    display: none;
  }
}
@media screen and (max-width: 297px) {
  #header-container > a {
    display: none;
  }
}
.black-w {
  background-color: black;
  color: white;
}

.white-b {
  background-color: white;
  color: black;
}

#header-main {
  top: 0;
  position: fixed;
  width: 100%;
  height: 100px;
  z-index: 2;
}

#header-container {
  padding: var(--rtc-padding-xs);
  gap: 5px;
  width: 100%;
  background-color: white;
}

#header-container > nav > ul > li:first-child:has(a:hover) {
  background-color: var(--rtc-color-2);
}

nav {
  width: fit-content;
}

ul {
  height: 70px;
}

ul > li {
  height: 100%;
  width: 100px;
  border-radius: 24px;
}

ul > li > a:not(.black-w) {
  color: black;
}

ul > li:nth-child(1) {
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
}

ul > li:nth-child(1) > a {
  width: 40px;
  height: 40px;
}

ul > li:nth-child(1) > a {
  justify-content: center;
  align-items: center;
}

ul > li:nth-child(2) > a {
  border-radius: 24px;
}

ul > li:nth-child(4) > a {
  gap: 5px;
}

ul > li:nth-child(4) > a > img {
  width: 15px;
  height: 15px;
}

li > a {
  width: 100%;
  height: 70%;
  font-weight: 600;
  justify-content: center;
  border-radius: 24px;
}

ul > li:first-child > a:focus,
ul > li:first-child > a:hover,
ul > li:first-child ~ li > a:hover {
  outline: none;
}

ul > li:not(li:first-child) > a:focus {
  outline: 4px solid skyblue;
}

li > a > img {
  width: 30px;
  height: 30px;
}

.rounded {
  border-radius: 50%;
}

#download {
  color: rgb(19, 19, 19);
  height: 40px;
  position: relative;
  top: 100px;
  z-index: 10;
  cursor: pointer;
}

@media screen and (max-width: 643px) {
  #header-container > nav > ul > li:last-child {
    display: none;
  }
}
@media screen and (max-width: 553px) {
  #header-container > nav > ul > li:nth-child(3) {
    display: none;
  }
  #header-container > nav > ul > li:nth-child(2) {
    width: 70px;
    height: 65px;
  }
  #header-container > nav > ul > li:nth-child(2) > a {
    font-size: 0.7rem;
  }
}
.absolute-real {
  position: absolute;
}

#uploads-container::-webkit-scrollbar {
  width: 10px;
}

#uploads-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

#uploads-container::-webkit-scrollbar-thumb {
  background: var(--rtc-color-2);
  transition: all 0.2s ease;
}

#uploads-container::-webkit-scrollbar-thumb:hover {
  background: var(--rtc-color-3);
}

#uploads-container {
  background-color: whitesmoke;
  top: 12.6%;
  right: 0%;
  z-index: 10;
  overflow-y: scroll;
  width: 375px;
  border-radius: 14px;
  height: 86%;
  padding-bottom: 0px var(--rtc-padding-s);
  box-shadow: 0px 0px 10px -2px black;
}

#uploads-container > h2 {
  font-size: 1rem;
  z-index: 2;
  position: sticky;
  padding: var(--rtc-padding-s) var(--rtc-padding-xs);
  background-color: white;
  text-align: center;
  font-weight: 500;
  top: 0.1px;
  height: 10%;
}

#uploads-container > section {
  position: relative;
  height: 40%;
  margin: var(--rtc-margin-xs) 5px;
  padding: var(--rtc-padding-xs);
  display: flex;
  flex-wrap: wrap;
  gap: var(--rtc-gap-xs);
  transition: all 0.3s ease-out;
  border-radius: 14px;
}

#uploads-container > section:hover {
  cursor: pointer;
  background-color: var(--rtc-color-2);
}

#uploads-container > section > h3 {
  width: 100%;
  align-self: flex-end;
  font-size: 0.9rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#uploads-container > section:nth-child(odd) > h3 {
  opacity: 0.7;
  font-weight: 500;
}

.time {
  opacity: 0.5;
}

.display {
  display: none;
}

.div-img {
  width: 100%;
  height: 80%;
  display: flex;
  gap: 5px;
  cursor: pointer;
}

#uploads-container > section > div > img {
  border-radius: 14px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#uploads-container > section:hover > button {
  display: block;
}

#uploads-container > section > button {
  width: 20px;
  height: 20px;
  right: 0%;
  bottom: -4%;
  border-radius: 50%;
  border: none;
  background-color: var(--rtc-color-1);
}

#uploads-container > section > button:hover {
  background-color: var(--rtc-color-2);
}

#uploads-container > section > button > img {
  width: 50%;
  height: 50%;
}

.absolute {
  position: fixed;
}

#article-message {
  background-color: white;
  top: 12.6%;
  right: 0%;
  z-index: 10;
  overflow-y: scroll;
  width: 375px;
  border-radius: 14px;
  height: 86%;
  padding-bottom: 0px var(--rtc-padding-s);
  box-shadow: 0px 0px 10px -2px black;
}

#article-message::-webkit-scrollbar {
  width: 10px;
}

#article-message::-webkit-scrollbar-track {
  background: #f1f1f1;
}

#article-message::-webkit-scrollbar-thumb {
  background: var(--rtc-color-2);
  transition: all 0.2s ease;
}

#article-message::-webkit-scrollbar-thumb:hover {
  background: var(--rtc-color-3);
}

#article-message > div:first-of-type {
  justify-content: space-between;
  gap: var(--rtc-gap-l);
  padding: 5px var(--rtc-padding-s);
}
#article-message > div:first-of-type img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: var(--rtc-color-2);
  cursor: pointer;
  transition: all 0.2s ease-in;
  border: 1px solid rgba(0, 0, 0, 0.4);
  padding: 5px;
}
#article-message > div:first-of-type img:hover {
  background-color: var(--rtc-color-1);
}

#article-message > div:nth-of-type(2) {
  width: 90%;
  margin: 1rem auto 0 auto;
  display: flex;
  padding: 5px;
  background-color: white;
  border-radius: 3rem;
  border: 2px solid rgba(0, 0, 0, 0.4);
}

#article-message > div:nth-of-type(2) > img {
  border-radius: 3rem;
  padding: var(--rtc-padding-xs);
  width: 40px;
  background-color: rgb(255, 253, 253);
  cursor: pointer;
}

#article-message > div:nth-of-type(2) > input {
  width: 100%;
  border: none;
  border-radius: 3rem;
}

#article-message > div:nth-of-type(2):has(input:focus) {
  border: 2px solid rgba(0, 0, 0, 0.8);
}

#article-message > div:nth-of-type(2) > input:focus {
  outline: none;
}

#article-message > div:nth-of-type(3) {
  width: 90%;
  margin: 1rem auto 0 auto;
  display: flex;
  align-items: center;
  padding: 5px;
  background-color: white;
  height: 50px;
  border-radius: 6px;
  gap: var(--rtc-gap-xs);
  cursor: pointer;
}

#article-message > div:nth-of-type(3) > img {
  border-radius: 50%;
  height: 100%;
  background-color: rgb(6, 222, 53);
}

#article-message > div:nth-of-type(3) > h4 {
  font-size: 0.95rem;
}

#article-message > div:nth-of-type(3):hover {
  background-color: var(--rtc-color-1);
}

.absolute-real {
  position: absolute;
}

#uploads-container::-webkit-scrollbar {
  width: 10px;
}

#uploads-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

#uploads-container::-webkit-scrollbar-thumb {
  background: var(--rtc-color-2);
  transition: all 0.2s ease;
}

#uploads-container::-webkit-scrollbar-thumb:hover {
  background: var(--rtc-color-3);
}

#uploads-container {
  background-color: whitesmoke;
  top: 12.6%;
  right: 0%;
  z-index: 10;
  overflow-y: scroll;
  width: 375px;
  border-radius: 14px;
  height: 86%;
  padding-bottom: 0px var(--rtc-padding-s);
  box-shadow: 0px 0px 10px -2px black;
}

#uploads-container > h2 {
  font-size: 1rem;
  z-index: 2;
  position: sticky;
  padding: var(--rtc-padding-s) var(--rtc-padding-xs);
  background-color: white;
  text-align: center;
  font-weight: 500;
  top: 0.1px;
  height: 10%;
}

#uploads-container > section {
  position: relative;
  height: 40%;
  margin: var(--rtc-margin-xs) 5px;
  padding: var(--rtc-padding-xs);
  display: flex;
  flex-wrap: wrap;
  gap: var(--rtc-gap-xs);
  transition: all 0.3s ease-out;
  border-radius: 14px;
}

#uploads-container > section:hover {
  cursor: pointer;
  background-color: var(--rtc-color-2);
}

#uploads-container > section > h3 {
  width: 100%;
  align-self: flex-end;
  font-size: 0.9rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#uploads-container > section:nth-child(odd) > h3 {
  opacity: 0.7;
  font-weight: 500;
}

.time {
  opacity: 0.5;
}

.display {
  display: none;
}

.div-img {
  width: 100%;
  height: 80%;
  display: flex;
  gap: 5px;
  cursor: pointer;
}

#uploads-container > section > div > img {
  border-radius: 14px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#uploads-container > section:hover > button {
  display: block;
}

#uploads-container > section > button {
  width: 20px;
  height: 20px;
  right: 0%;
  bottom: -4%;
  border-radius: 50%;
  border: none;
  background-color: var(--rtc-color-1);
}

#uploads-container > section > button:hover {
  background-color: var(--rtc-color-2);
}

#uploads-container > section > button > img {
  width: 50%;
  height: 50%;
}

#main-article-more-info {
  background-color: white;
  top: 12.6%;
  right: 0%;
  z-index: 10;
  overflow-y: scroll;
  width: 300px;
  border-radius: 14px;
  height: 86%;
  padding-bottom: 0px var(--rtc-padding-s);
  box-shadow: 0px 0px 10px -2px black;
}

.display {
  display: none;
}

#main-article-more-info::-webkit-scrollbar {
  width: 10px;
}

#main-article-more-info::-webkit-scrollbar-track {
  background: #f1f1f1;
}

#main-article-more-info::-webkit-scrollbar-thumb {
  background: var(--rtc-color-2);
  transition: all 0.2s ease;
}

#main-article-more-info::-webkit-scrollbar-thumb:hover {
  background: var(--rtc-color-3);
}

#main-article-more-info {
  padding: var(--rtc-padding-xs);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#main-article-more-info > h2 {
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 10px;
}

#main-article-more-info > #first-info-profile-section {
  display: flex;
  gap: var(--rtc-gap-xs);
  padding: 0 var(--rtc-padding-xs);
  height: fit-content;
  align-items: center;
  justify-content: space-between;
  border-radius: 14px;
  cursor: pointer;
}

#main-article-more-info > #first-info-profile-section:hover {
  background-color: var(--rtc-color-2);
}

#main-article-more-info > #first-info-profile-section > #profile-div-section {
  display: flex;
  flex-direction: column;
  gap: var(--rtc-gap-xs);
}

#main-article-more-info > #first-info-profile-section > #profile-div-section > span {
  font-weight: 500;
  font-size: 0.85rem;
}

#main-article-more-info > #first-info-profile-section > span:first-child {
  display: flex;
  height: 50px;
  width: 50px;
  font-weight: 800;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  border-radius: 50%;
  background-color: orangered;
}

#main-article-more-info > #first-info-profile-section > img {
  width: 12px;
  height: 12px;
}

section#first-info-profile-section ~ section {
  height: fit-content;
  padding: 0 var(--rtc-padding-xs);
}

section#first-info-profile-section ~ section > h3 {
  font-size: 1rem;
  font-weight: 400;
  padding: var(--rtc-padding-xs);
}

section > ul {
  display: flex;
  height: fit-content;
  flex-direction: column;
}

section#first-info-profile-section ~ section > ul > li {
  width: 100%;
  height: fit-content;
}

section#first-info-profile-section ~ section > ul > li > a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  font-size: 0.9rem;
  font-weight: 600;
  height: 100%;
  width: 100%;
  padding: var(--rtc-padding-xs);
  cursor: pointer;
}

section#first-info-profile-section ~ section > ul > li > a:hover {
  background-color: var(--rtc-color-2);
}

.div-input {
  height: 50px;
  flex-grow: 1;
}

.div-input > img {
  cursor: pointer;
}

.div-input:has(input:focus) {
  outline: 4px solid skyblue;
}

.br-radius {
  border-radius: 24px;
}

.style-input {
  background-color: var(--rtc-color-2);
  border-radius: 24px;
  border: none;
}

.style-input:focus {
  outline: none;
}

.div-input > img {
  padding: var(--rtc-padding-xs);
  width: 40px;
  height: 40px;
}

.div-input > input {
  width: 100%;
  color: var(--rtc-color-3);
  font-size: 1rem;
  padding: 0.2rem;
}

.div-input > input::placeholder {
  color: var(--rtc-color-3);
  font-size: 0.8rem;
}

#Clear-cta {
  display: flex;
  justify-content: center;
  padding: 4px;
  color: var(--rtc-color-2);
  font-size: 1rem;
  border-radius: 50%;
  border: none;
  background-color: var(--rtc-special-color-1);
  width: 21px;
  height: 21px;
}

#Cl-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--rtc-padding-xs);
  border-radius: 50%;
  width: 45px;
  height: 45px;
}

#Cl-container:has(#Clear-cta:hover) {
  background: var(--rtc-special-color-2);
}

.rounded {
  border-radius: 50%;
}

.relative {
  position: relative;
}

.container-save-card {
  display: none;
  border-radius: 24px;
  top: 5%;
  left: 5%;
  padding: var(--rtc-padding-xs);
  border: none;
  background-color: var(--rtc-color-4);
  font-weight: 500;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.container-save-card:hover {
  background-color: var(--rtc-special-color-4);
}

.container-dowload {
  display: none;
  width: 35px;
  height: 35px;
  background-color: var(--rtc-color-1);
  right: 20%;
  bottom: 5%;
  border: none;
  padding: var(--rtc-padding-xs);
}
.container-dowload img {
  width: 100%;
  height: 100%;
  transform: scale(1.4);
}

.container-dowload:hover {
  background-color: var(--rtc-color-2);
}

.container-see-more {
  display: none;
  width: 35px;
  height: 35px;
  border: none;
  background-color: var(--rtc-color-1);
  bottom: 5%;
  right: 3%;
  padding: var(--rtc-padding-xs);
}
.container-see-more img {
  width: 100%;
  height: 100%;
  transform: scale(1.2);
}

.container-see-more:hover {
  background-color: var(--rtc-color-2);
}

.main-div-card {
  flex-grow: 1;
  height: 400px;
  width: 250px;
  border-radius: 24px;
  min-width: 100px;
}

.main-div-card:has(.single-div-img:hover) {
  box-shadow: 0px 0px 5px 0px black;
}

.main-div-card > .single-div-img {
  border-radius: 24px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.main-div-card > .single-div-img > a > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
}

.main-div-card > .single-div-img > a > img:hover {
  filter: brightness(105%) saturate(140%);
  transform: scale(1.1);
  cursor: pointer;
}

.block {
  display: block;
}

.info-div-left {
  clip-path: polygon(100% 0, 0% 100%, 0 0);
  top: 0;
  left: 0;
  border-radius: 24px;
  opacity: 0.7;
}

.info-div-right {
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  bottom: 0;
  right: 0;
  border-radius: 24px;
  opacity: 0.7;
  background-color: transparent;
}

.explained {
  transition: all 0.6s linear;
  width: 100%;
  height: 100%;
}

.info-div-right > p {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 30px;
  right: 9px;
  width: 146px;
  height: 65px;
  position: absolute;
  top: 229px;
  font-size: 14px;
  color: black;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  overflow: hidden;
  -webkit-box-orient: vertical;
  text-align: center;
}

.info-div-left > h4 {
  padding: 70px 10px 5px 10px;
  color: rgb(223, 21, 14);
  width: 170px;
}

.info-div-left > h5 {
  display: flex;
  align-items: center;
  gap: var(--rtc-gap-xs);
  padding: var(--rtc-padding-xs);
  color: rgb(1, 52, 192);
  opacity: 1;
  font-size: 1rem;
  width: 150px;
  text-wrap: wrap;
  height: fit-content;
  text-shadow: 0px 0px 0px 1px;
  transition: font-weight 1s;
}

.info-div-left > h5 > img {
  width: 30px;
  height: 30px;
  object-fit: cover;
}

.info-div-left > h5:hover {
  animation: ass 1s ease 1s;
  font-weight: 800;
}

@keyframes ass {
  20% {
    transform: rotateY(100deg);
  }
  80% {
    transform: rotateY(-20deg);
  }
}
.watch {
  width: 35px;
  height: 35px;
  right: 15%;
  bottom: 4.6%;
  border: none;
  padding: var(--rtc-padding-xs);
}

#footer-btn {
  position: fixed;
  z-index: 4;
  bottom: 5%;
  right: 5%;
  border: none;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  font-weight: 900;
  background-color: white;
  font-size: 2.25rem;
  box-shadow: 0px 0px 10px -5px black;
  transition: all 0.3s ease-in-out;
  animation: scrolling forwards;
  animation-timeline: scroll(root);
  animation-range-start: 93%;
}

@keyframes scrolling {
  to {
    bottom: 24%;
  }
}
#footer-btn:hover {
  background-color: var(--rtc-color-1);
}

.style-footer {
  position: fixed;
  right: 1.6%;
  bottom: 15%;
  border-radius: 24px;
  border: 2px solid black;
  padding: var(--rtc-padding-xs);
  background: linear-gradient(to bottom right, #fefefe 0%, #ff3e3e 60%);
  z-index: 4;
  width: 164px;
  animation: scroll forwards;
  animation-timeline: scroll(root);
  animation-range-start: 93%;
}

@keyframes scroll {
  to {
    bottom: 32%;
  }
}
.absolute-footer {
  position: absolute;
  width: 100%;
  top: 80.8%;
}

.style-footer > ul {
  height: fit-content;
  width: 200px;
  width: 100%;
}

.style-footer > ul > li {
  padding: 2px;
  border-radius: 30px;
}

.style-footer > ul > li > a {
  padding: 2px;
  border-radius: 4px;
  font-size: 0.7rem;
}

.style-footer > ul:not(ul:first-of-type) > li > a:hover {
  text-decoration: underline;
}

.style-footer > ul > li > a:focus {
  text-decoration: underline;
  outline: none;
}

.style-footer > ul > li a:link,
.style-footer > ul > li a:visited {
  color: black;
}

.style-footer > ul:first-of-type {
  border-bottom: 2px solid black;
}

.style-footer > ul:first-of-type > li {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
}

.style-footer > ul:first-of-type > li:hover {
  background-color: var(--rtc-color-1);
  outline: 4px solid skyblue;
}

.style-footer > ul:first-of-type > li:has(a:focus) {
  outline: 4px solid skyblue;
  border-radius: 12px;
}

ul > li:not(li:first-child) > a:focus {
  outline: none;
}

.style-footer > ul:first-of-type > li > a {
  width: 76%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  height: fit-content;
}

.style-footer > ul:first-of-type > li > img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.style-footer > ul:first-of-type ~ ul > li > a {
  color: #0e0d0d;
}

.style-footer > ul:nth-of-type(2) {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  column-gap: var(--rtc-gap-m);
}
.style-footer > ul:nth-of-type(2) li {
  width: fit-content;
  height: fit-content;
}

.style-footer > ul:nth-of-type(3) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--rtc-gap-xs);
}
.style-footer > ul:nth-of-type(3) li {
  width: fit-content;
  height: fit-content;
}

.display {
  display: none;
}

footer[id=footer-container] {
  position: relative;
  top: 42px;
  padding: var(--rtc-padding-xs);
  height: fit-content;
  background-color: #e1c174;
}

footer[id=footer-container].relative-footer {
  top: 102;
}

footer[id=footer-container] > [id=content-of-footer] {
  height: fit-content;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: var(--rtc-gap-xs);
}

footer[id=footer-container] > [id=content-of-footer] img {
  width: 20px;
  height: 20px;
}

footer[id=footer-container] > [id=content-of-footer] > div.rrss-container {
  min-width: 200px;
  width: 220px;
  background-color: transparent;
  margin: 0 10px;
}

footer[id=footer-container] > [id=content-of-footer] > div > ul {
  width: 200px;
  height: 130px;
  display: flex;
  background-color: #e1c174;
  justify-content: space-between;
  flex-flow: column nowrap;
  gap: var(--rtc-gap-xs);
}

footer[id=footer-container] > [id=content-of-footer] > div > ul > li {
  display: flex;
  gap: var(--rtc-gap-s);
  justify-content: start;
  align-items: center;
  width: fit-content;
}

footer[id=footer-container] > [id=content-of-footer] > div > ul > li > a {
  width: 100px;
  justify-content: center;
  position: relative;
  padding: 10px;
}

footer[id=footer-container] > [id=content-of-footer] > div > ul > li > a::after {
  content: "";
  position: absolute;
  bottom: 10%;
  left: 0%;
  width: 0px;
  height: 2.5px;
  width: 50%;
  transform: scaleX(0);
  background-color: var(--rtc-special-color-9);
  transition: all 0.7s ease;
}

footer[id=footer-container] > [id=content-of-footer] > div > ul > li:nth-of-type(1) > a::after {
  bottom: 20%;
}

footer[id=footer-container] > [id=content-of-footer] > div > ul > li:nth-of-type(3) > a::after {
  bottom: 3%;
  background-color: #f85427;
  left: 0%;
}

footer[id=footer-container] > [id=content-of-footer] > div > ul > li:nth-of-type(3) > a:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}

footer[id=footer-container] > [id=content-of-footer] > div > ul > li:nth-child(1) > a:hover::after {
  transform: scaleX(1);
}

footer[id=footer-container] > [id=content-of-footer] > div > ul > li:nth-of-type(2) > a::after {
  right: 0;
  background-color: rgba(22, 21, 21, 0.4941176471);
  transform: scaleX(0);
}

footer[id=footer-container] > [id=content-of-footer] > div > ul > li:nth-of-type(2) > a:hover::after {
  transform-origin: right;
  transform: scaleX(1);
}

footer[id=footer-container] > [id=content-of-footer] > div.contact {
  width: 30%;
  padding: var(--rtc-padding-xs);
  width: fit-content;
  background-color: transparent;
}

footer[id=footer-container] > [id=content-of-footer] > div.contact > h3 {
  font-size: 0.9rem;
  width: 100%;
  padding: 0 1.2rem;
  text-align: center;
}

footer[id=footer-container] > [id=content-of-footer] > div.contact > div {
  display: flex;
  gap: var(--rtc-gap-xs);
  width: 100%;
  padding: 0 1.2rem;
  justify-content: center;
}

footer[id=footer-container] > [id=content-of-footer] > div.contact > div > img {
  width: fit-content;
  height: 20px;
  width: 20px;
}

footer[id=footer-container] > [id=content-of-footer] > div.contact > div > a,
footer[id=footer-container] > [id=content-of-footer] > div.contact > div > img {
  margin-top: 20px;
  color: black;
}

footer[id=footer-container].absolute-footer {
  position: absolute;
  top: 711px;
  width: 100%;
}

footer[id=footer-container] > [id=content-of-footer] > div.copy-div {
  background-color: transparent;
  padding: 1rem;
  width: 24%;
  text-align: justify;
}

@media screen and (max-width: 868px) {
  footer[id=footer-container] > [id=content-of-footer] > div.contact > img,
  footer[id=footer-container] > [id=content-of-footer] > div.contact > a {
    position: relative;
    left: 30px;
  }
}
@media screen and (max-width: 820px) {
  footer[id=footer-container] > [id=content-of-footer] > div.copy-div {
    text-align: center;
    width: 80%;
  }
  footer[id=footer-container] > [id=content-of-footer] > div.copy-div {
    text-align: center;
  }
  footer[id=footer-container] > [id=content-of-footer] > div.contact > h3 {
    font-size: 0.9rem;
    padding: 0;
    min-width: 180px;
  }
  footer[id=footer-container] > [id=content-of-footer] {
    gap: var(--rtc-gap-s);
  }
  #footer-btn {
    animation-range-start: 60%;
  }
  @keyframes scrolling {
    to {
      bottom: 32%;
    }
  }
  .style-footer {
    animation-range-start: 60%;
  }
  @keyframes scroll {
    to {
      bottom: 40%;
    }
  }
}
@media screen and (max-width: 820px) and (max-width: 645px) {
  footer[id=footer-container] > [id=content-of-footer] > div.rrss-container {
    min-width: 170px;
    width: 170px;
  }
  footer[id=footer-container] > [id=content-of-footer] > div.rrss-container > ul {
    min-width: 170px;
    width: 170px;
  }
}
body {
  background: linear-gradient(to bottom, white 20%, rgb(104, 104, 104) 80%);
  height: fit-content;
}

.absolute {
  position: fixed;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

:root {
  /* FONTS */
  --rtc-primary-font: "Work Sans", sans-serif;
  /* BRANDING COLORS */
  --rtc-color-1: #f0f0f0;
  --rtc-color-2: #cac6c6;
  --rtc-color-3: #4a4a4a;
  --rtc-color-4: #e62020;
  --rtc-special-color-1: #000000;
  --rtc-special-color-2: #9d9c9b;
  --rtc-special-color-3: #a3f7fc;
  --rtc-special-color-4: #af0202;
  --rtc-special-color-5: #f5e6ff;
  --rtc-special-color-6: #7be498;
  --rtc-special-color-7: #f7c29b;
  --rtc-special-color-8: #41fb91;
  --rtc-special-color-9: #0d14e4;
  --rtc-special-color-10: #7506ad;
  --rtc-special-color-11: #1b02ad;
  /* BACKGROUND-COLORS */
  --rtc-primary-bg: var(--rtc-color-1);
  /* TEXT-COLORS */
  --rtc-primary-text: var(--rtc-color-3);
  --rtc-secondary-text: var(--rtc-color-4);
  /* BORDER-COLORS */
  --rtc-primary-border: 1px solid var(--rtc-color-2);
  /* BORDER RADIUS */
  --rtc-br: 8px;
  /* SPACINGS */
  --rtc-margin-xs: 10px;
  --rtc-margin-s: 20px;
  --rtc-margin-m: 30px;
  --rtc-margin-l: 40px;
  --rtc-margin-xl: 50px;
  --rtc-margin-section: 100px;
  --rtc-padding-xs: 10px;
  --rtc-padding-s: 20px;
  --rtc-padding-m: 30px;
  --rtc-padding-l: 40px;
  --rtc-padding-xl: 50px;
  --rtc-gap-xs: 10px;
  --rtc-gap-s: 20px;
  --rtc-gap-m: 30px;
  --rtc-gap-l: 40px;
  --rtc-gap-xl: 50px;
}

body {
  background-color: var(--rtc-special-color-2);
  min-height: 100svh;
  font-family: var(--rtc-primary-font);
}

.flex-container {
  display: flex;
  align-items: center;
}

.br-radius {
  border-radius: 24px;
}

main {
  margin-top: 5rem;
  flex-wrap: wrap;
  gap: var(--rtc-gap-xs);
  justify-content: center;
  padding: var(--rtc-padding-s);
  align-content: flex-start;
}

#recomended-target {
  top: 11%;
  right: 10%;
  width: 70%;
  height: fit-content;
  max-height: 85svh;
  background-color: var(--rtc-color-1);
  z-index: 3;
  flex-direction: column;
  border-radius: 18px;
  padding: var(--rtc-padding-s);
}

#recomended-target > section:first-child {
  width: 100%;
  height: 200px;
  flex-wrap: wrap;
  padding: var(--rtc-padding-xs);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.display {
  display: none;
}

#recomended-target > section:last-child {
  width: 100%;
  height: 300px;
  flex-wrap: wrap;
  padding: var(--rtc-padding-xs);
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: space-between;
}

#recomended-target > section > h2 {
  width: 100%;
  color: rgb(19, 19, 19);
  position: relative;
  font-size: 1rem;
  padding-bottom: 1rem;
}

#recomended-target > section > div {
  max-width: 300px;
  width: 100%;
  height: 100px;
  gap: 10px;
  cursor: pointer;
  border-radius: 14px;
  transition: background-color 0.4s ease-in-out;
}

#recomended-target > section > div:hover {
  background-color: var(--rtc-color-2);
  border: 1px solid black;
  box-shadow: 0px 0px 2px 1px;
}

#recomended-target > section > div > img {
  object-fit: cover;
  width: 140px;
  height: 100%;
  border-radius: 14px 0px 0px 14px;
}

#recomended-target > section:last-child > div {
  width: 90%;
  height: 100px;
}

.no-exist {
  margin-top: 200px;
}

#recomended-target > section:last-child > div:last-of-type > img {
  object-position: 50% 0%;
}

#recomended-target > section > div > h3 {
  width: 100%;
  color: rgb(23, 23, 23);
  white-space: nowrap;
}

#recomended-target > section:first-child > div {
  height: 150px;
}

@media screen and (max-width: 1192px) {
  #recomended-target > section:first-child {
    height: 145px;
  }
  #recomended-target > section:first-child > div {
    height: 78%;
  }
}
@media screen and (max-width: 950px) {
  #recomended-target > section:last-child > div {
    width: 40%;
  }
  #recomended-target > section:first-child > div {
    width: 42%;
    height: 59%;
  }
  #recomended-target > section > div > h3 {
    white-space: normal;
  }
}
@media screen and (max-width: 630px) {
  #recomended-target > section > div > h3 {
    font-size: 12px;
  }
  #recomended-target > section:last-child > div {
    height: 33%;
    width: 48%;
  }
}
@media screen and (max-width: 534px) {
  #recomended-target > section > div > h3 {
    width: 80%;
    text-align: center;
  }
  #recomended-target > section:last-child > div > img {
    width: 74px;
    height: 72px;
  }
  #recomended-target > section:last-child > div {
    flex-wrap: wrap;
    height: fit-content;
    min-width: 42px;
    justify-content: center;
  }
  #recomended-target > section:first-child {
    height: fit-content;
    justify-content: space-between;
  }
  #recomended-target > section:first-child > div {
    flex-wrap: wrap;
    height: fit-content;
  }
  #recomended-target > section:first-child > div > img {
    width: 77px;
    height: 64px;
  }
  #recomended-target > section:first-child > div > h3 {
    font-size: 10px;
  }
  #recomended-target > section:first-child > h2,
  #recomended-target > section:last-child > h2 {
    padding: 5px 0 5px 0;
    font-size: 10px;
  }
  #recomended-target > section:first-child,
  #recomended-target > section:last-child {
    padding: 0;
  }
}
@media screen and (max-width: 294px) {
  #recomended-target > section:last-child > div > img {
    width: 60px;
    height: 60px;
  }
  #recomended-target > section:last-child > div {
    width: 60px;
  }
}

/*# sourceMappingURL=style.css.map */
