#footer-btn {
  position: fixed;
  z-index: 4;
  bottom: 5%;
  right: 5%;
  border: none;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  font-weight: 900;
  background-color: white;
  font-size: 2.25rem;
  box-shadow: 0px 0px 10px -5px black;
  transition: all 0.3s ease-in-out;
  animation: scrolling forwards;
  animation-timeline: scroll(root);
  animation-range-start: 93%;
}
@keyframes scrolling {
  to {
    bottom: 24%;
  }
}
#footer-btn:hover {
  background-color: var(--rtc-color-1);
}

.style-footer {
  position: fixed;
  right: 1.6%;
  bottom: 15%;
  border-radius: 24px;
  border: 2px solid black;
  padding: var(--rtc-padding-xs);
  background: linear-gradient(to bottom right, #fefefe 0%, #ff3e3e 60%);
  z-index: 4;
  width: 164px;
  animation: scroll forwards;
  animation-timeline: scroll(root);
  animation-range-start: 93%;
}
@keyframes scroll {
  to {
    bottom: 32%;
  }
}
.absolute-footer {
  position: absolute;
  width: 100%;
  top: 80.8%;
}
.style-footer > ul {
  height: fit-content;
  width: 200px;
  width: 100%;
}
.style-footer > ul > li {
  padding: 2px;
  border-radius: 30px;
}

.style-footer > ul > li > a {
  padding: 2px;
  border-radius: 4px;
  font-size: 0.7rem;
}
.style-footer > ul:not(ul:first-of-type) > li > a:hover {
  text-decoration: underline;
}
.style-footer > ul > li > a:focus {
  text-decoration: underline;
  outline: none;
}
.style-footer > ul > li a:link,
.style-footer > ul > li a:visited {
  color: black;
}
.style-footer > ul:first-of-type {
  border-bottom: 2px solid black;
}
.style-footer > ul:first-of-type > li {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
}
.style-footer > ul:first-of-type > li:hover {
  background-color: var(--rtc-color-1);
  outline: 4px solid skyblue;
}
.style-footer > ul:first-of-type > li:has(a:focus) {
  outline: 4px solid skyblue;
  border-radius: 12px;
}
ul > li:not(li:first-child) > a:focus {
  outline: none;
}
.style-footer > ul:first-of-type > li > a {
  width: 76%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  height: fit-content;
}
.style-footer > ul:first-of-type > li > img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.style-footer > ul:first-of-type ~ ul > li > a {
  color: #0e0d0d;
}
.style-footer > ul:nth-of-type(2) {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  column-gap: var(--rtc-gap-m);
  li {
    width: fit-content;
    height: fit-content;
  }
}
.style-footer > ul:nth-of-type(3) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--rtc-gap-xs);
  li {
    width: fit-content;
    height: fit-content;
  }
}
.display {
  display: none;
}

footer[id='footer-container'] {
  position: relative;
  top: 42px;
  padding: var(--rtc-padding-xs);
  height: fit-content;
  background-color: #e1c174;
}
footer[id='footer-container'].relative-footer {
  top: 102px;
}
footer[id='footer-container'] > [id='content-of-footer'] {
  height: fit-content;
  flex-wrap: wrap;

  justify-content: space-around;
  align-items: center;
  gap: var(--rtc-gap-xs);
}
footer[id='footer-container'] > [id='content-of-footer'] img {
  width: 20px;
  height: 20px;
}
footer[id='footer-container'] > [id='content-of-footer'] > div.rrss-container {
  min-width: 200px;
  width: 220px;
  background-color: transparent;
  margin: 0 10px;
}

footer[id='footer-container'] > [id='content-of-footer'] > div > ul {
  width: 200px;
  height: 130px;
  display: flex;
  background-color: #e1c174;
  justify-content: space-between;
  flex-flow: column nowrap;
  gap: var(--rtc-gap-xs);
}
footer[id='footer-container'] > [id='content-of-footer'] > div > ul > li {
  display: flex;
  gap: var(--rtc-gap-s);
  justify-content: start;
  align-items: center;
  width: fit-content;
}
footer[id='footer-container'] > [id='content-of-footer'] > div > ul > li > a {
  width: 100px;
  justify-content: center;
  position: relative;
  padding: 10px;
  background-color: #e1c174;
}
footer[id='footer-container']
  > [id='content-of-footer']
  > div
  > ul
  > li
  > a::after {
  content: '';
  position: absolute;
  bottom: 10%;
  left: 0%;
  width: 0px;
  height: 2.5px;
  width: 50%;
  transform: scaleX(0);
  background-color: var(--rtc-special-color-9);
  transition: all 0.7s ease;
}
footer[id='footer-container']
  > [id='content-of-footer']
  > div
  > ul
  > li:nth-of-type(1)
  > a::after {
  bottom: 20%;
}
footer[id='footer-container']
  > [id='content-of-footer']
  > div
  > ul
  > li:nth-of-type(3)
  > a::after {
  bottom: 3%;
  background-color: #f85427;
  left: 0%;
}
footer[id='footer-container']
  > [id='content-of-footer']
  > div
  > ul
  > li:nth-of-type(3)
  > a:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}
footer[id='footer-container']
  > [id='content-of-footer']
  > div
  > ul
  > li:nth-child(1)
  > a:hover::after {
  transform: scaleX(1);
}
footer[id='footer-container']
  > [id='content-of-footer']
  > div
  > ul
  > li:nth-of-type(2)
  > a::after {
  right: 0;
  background-color: #1615157e;
  transform: scaleX(0);
}
footer[id='footer-container']
  > [id='content-of-footer']
  > div
  > ul
  > li:nth-of-type(2)
  > a:hover::after {
  transform-origin: right;
  transform: scaleX(1);
}

footer[id='footer-container'] > [id='content-of-footer'] > div.contact {
  width: 30%;
  padding: var(--rtc-padding-xs);
  width: fit-content;

  background-color: transparent;
}
footer[id='footer-container'] > [id='content-of-footer'] > div.contact > h3 {
  font-size: 0.9rem;
  width: 100%;
  padding: 0 1.2rem;
  text-align: center;
}
footer[id='footer-container'] > [id='content-of-footer'] > div.contact > div {
  display: flex;
  gap: var(--rtc-gap-xs);
  width: 100%;
  padding: 0 1.2rem;
  justify-content: center;
}
footer[id='footer-container']
  > [id='content-of-footer']
  > div.contact
  > div
  > img {
  width: fit-content;
  height: 20px;
  width: 20px;
}
footer[id='footer-container']
  > [id='content-of-footer']
  > div.contact
  > div
  > a,
footer[id='footer-container']
  > [id='content-of-footer']
  > div.contact
  > div
  > img {
  margin-top: 20px;
  color: black;
}

footer[id='footer-container'].absolute-footer {
  position: absolute;
  top: 711px;
  width: 100%;
}
footer[id='footer-container'] > [id='content-of-footer'] > div.copy-div {
  background-color: transparent;
  padding: 1rem;
  width: 24%;
  text-align: justify;
}
@media screen and (max-width: 868px) {
  footer[id='footer-container'] > [id='content-of-footer'] > div.contact > img,
  footer[id='footer-container'] > [id='content-of-footer'] > div.contact > a {
    position: relative;
    left: 30px;
  }
}
@media screen and (max-width: 820px) {
  footer[id='footer-container'] > [id='content-of-footer'] > div.copy-div {
    text-align: center;
    width: 80%;
  }
  footer[id='footer-container'] > [id='content-of-footer'] > div.copy-div {
    text-align: center;
  }
  footer[id='footer-container'] > [id='content-of-footer'] > div.contact > h3 {
    font-size: 0.9rem;
    padding: 0;
    min-width: 180px;
  }
  footer[id='footer-container'] > [id='content-of-footer'] {
    gap: var(--rtc-gap-s);
  }
  #footer-btn {
    animation-range-start: 60%;
  }
  @keyframes scrolling {
    to {
      bottom: 32%;
    }
  }
  .style-footer {
    animation-range-start: 60%;
  }
  @keyframes scroll {
    to {
      bottom: 40%;
    }
  }

  @media screen and (max-width: 645px) {
    footer[id='footer-container']
      > [id='content-of-footer']
      > div.rrss-container {
      min-width: 170px;
      width: 170px;
    }
    footer[id='footer-container']
      > [id='content-of-footer']
      > div.rrss-container
      > ul {
      min-width: 170px;
      width: 170px;
    }
  }
}
